/* DA RIMUOVERE DOPO */
/* .container.debug {
    border: 1px solid white;
} */

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

/* GENERALI */
/* .container::after {
    clear: both;
    display: table;
    content: "";
} */

/* SEZIONE LEFT-NAVBAR */
#left-navbar .container {
    background-color: black;
    float: left;
    height: calc(100vh - 90px);
    width: 230px;
    padding-top: 95px;
    color: white;
    position: relative;
}

#left-navbar .start img {
    width: 30px;
    vertical-align: middle;
    cursor: pointer;
}

.start .home img{
    margin-left: 15px;
}

.start .cerca, .start .libreria img{
    margin-left: 20px;
}

#left-navbar ul li {
    padding-top: 4px;
    padding-bottom: 4px;
}

#left-navbar ul {
    list-style-type: none;
}

#left-navbar a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

#left-navbar a:hover {
    color: white;
}

ul.start li img {
    filter: opacity(0.4);
}

ul.start img:hover {
    filter: opacity(1);
}

.home {
    border-left: 4px solid #adff2f;
}

#left-navbar .fa.fa-plus-square {
    vertical-align: middle;
    margin-right: 8px;
}

#left-navbar .start {
    margin-bottom: 25px;
}

#left-navbar .playlist-and-bottom {
    margin-left: 20px;
}

#left-navbar .playlist-and-bottom h4 {
    margin-bottom: 10px;
}

#left-navbar h4 {
    display: inline-block;
}

#left-navbar .playlist {
    margin-top: 10px;
    /* overflow: scroll; */
}

#left-navbar ul.playlist li {
    padding-top: 5px;
    padding-bottom: 10px;
}

.left-navbar-bottom {
    position: sticky;
    bottom: 30%;
    padding-right: 40px;
    padding-bottom: 10px;
    width: 100%;
}

.left-navbar-bottom .install-app img {
    width: 20px;
    vertical-align: middle;
    filter: opacity(0.5);
    cursor: pointer;
}

.install-app:hover .install-app img {
    filter: opacity(1);
}

.left-navbar-bottom h4, h5 {
    display: inline;
}

.left-navbar-bottom h4,
.left-navbar-bottom h5 {
    margin-left: 5px;
    cursor: pointer;
}

.left-navbar-bottom .install-app {
    margin-bottom: 5px;
}

.left-navbar-bottom .utente {
    margin-top: 8px;
}

.left-navbar-bottom .utente img {
    background-color: grey;
    border-radius: 50%;
    width: 25px;
    vertical-align: middle;
    cursor: pointer;
}

/* SEZIONE TOP-UPGRADE */
#top-upgrade .container {
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 1;
}

#top-upgrade .container.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-upgrade img.xs-display-none {
    width: 150px;
    margin-left: 19px;
}

#top-upgrade img.md-display-none {
    width: 30px;
    margin-left: 10px;
}

.button-upgrade  {
    border: 1px white solid;
    background-color: transparent;
    border-radius: 20px;
    color: white;
    text-align: center;
    padding: 10px 40px;
    margin-right: 25px;
    cursor: pointer;
}

.button-upgrade:hover  {
    transform: scale(1.1);
}

/* SEZIONE TOP-NAVBAR */
#top-navbar .container {
    background-color: #141922;
    padding-top: 110px;
    height: 150px;
}

#top-navbar .flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#top-navbar ul.menu-top {
    list-style-type: none;
}

#top-navbar ul.menu-top li {
    display: inline-block;
    margin-right: 15px;
}

#top-navbar ul.menu-top li {
    border-bottom: 2px solid #adff2f;
}

/* .slider .bar {
    width: 400px;
    border: 2px solid #5a5a5a;
    border-radius: 10%;
    position: relative;
    cursor: pointer;
}

.slider-right .bar {
    width: 100px;
    border: 2px solid #5a5a5a;
    border-radius: 10%;
    position: relative;
    cursor: pointer;
} */


#top-navbar ul.menu-top a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

#top-navbar ul.menu-top a:hover {
    color: white;
}

/* MAIN-CONTAINER */
.main-container {
    float: left;
    background-color: #141922;
    color: white;
    width: calc(100% - 230px);
    height: calc(100vh - 90px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.mainbox {
    margin: 15px 15px 35px 15px;
}

.album {
    margin-top: 25px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% / 6 - 20px);
    cursor: pointer;
}

.cover {
    position: relative;
}

.album img {
    flex-basis: 100%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.album:hover img {
    opacity: 0.3;
}

.album:hover .middle {
    opacity: 1;
}

.album img:hover {
    opacity: 0.5;
}

.main-container h5 {
    color: rgba(255, 255, 255, 0.5);
}

.album h3 {
    margin-top: 15px;
}

.mainbox.recently-played .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mainbox.created-for .flex {
    display: flex;
    flex-wrap: wrap;
}

.mainbox.popular-artist .flex {
    display: flex;
    flex-wrap: wrap;
}

.mainbox.popular-artist img {
    border-radius: 50%;
}

/* FOOTER */
#bottom-bar .container {
    background-color: #282828;
    height: 90px;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

#bottom-bar .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bottom-bar .album-left {
    padding-left: 19px;
}

#bottom-bar .volume-right {
    padding-right: 19px;
}

#bottom-bar h6 a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

#bottom-bar .fa.fa-heart-o, #bottom-bar .fa-folder-o {
    color: rgba(255, 255, 255, 0.4);
    margin-right: 10px;
}

#bottom-bar h6 a:hover {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline;
}

#bottom-bar .fa.fa-heart-o:hover, #bottom-bar .fa-folder-o:hover {
    color: rgba(255, 255, 255, 0.7);
}

.album-left img {
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.album-left .icons {
    margin-left: 40px;
    cursor: pointer;
}

.icons-player .fa, .icons-player-right .fa {
    cursor: pointer;
}

.icons-player .fa-step-backward {
    padding-left: 20px;
}

.icons-player .fa-step-forward {
    padding-right: 20px;
}

.icons-player .fa-play-circle-o {
    padding-left: 30px;
    padding-right: 30px;
}

.icons-player .fa-play-circle-o:hover {
    transform: scale(1.2);
}

.slider-central.flex {
    flex-direction: column;
}

.slider-central .slider {
    margin-top: 10px;
}

.slider h6 {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.slider .bar {
    width: 400px;
    border: 2px solid #5a5a5a;
    border-radius: 10%;
    position: relative;
    cursor: pointer;
}

.slider-right .bar {
    width: 100px;
    border: 2px solid #5a5a5a;
    border-radius: 10%;
    position: relative;
    cursor: pointer;
}

.slider .thumb {
    position: absolute;
    width: 80px;
    border: 2px solid #c1c1c1;
    left: -2px;
    top: -2px;
    border-radius: 10%;
    cursor: pointer;
}

.slider-right .thumb {
    position: absolute;
    width: 20px;
    border: 2px solid #c1c1c1;
    left: -2px;
    top: -2px;
    border-radius: 10%;
    cursor: pointer;
}

.slider .thumb2 {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    left: 68px;
    top: -8px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
}

.slider-right .thumb2 {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    left: 10px;
    top: -8px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
}

.bar:hover .thumb {
    border: 2px solid #adff2f;
}

.bar:hover .thumb2 {
    opacity: 1;
}

.icons-player-right .fa-desktop {
    padding-left: 20px;
    padding-right: 20px;
}

.icons-player-right .fa-volume-up {
    padding-right: 20px;
}

/* MEDIA QUERY */
@media screen and (max-width: 767px) {
    #left-navbar .container {
        width: 50px;
    }

    .main-container {
        width: calc(100vw - 50px);
    }

    .xs-display-none {
        display: none;
    }

    #left-navbar h4 {
        display: none;
    }

    .start .home, .start .cerca, .start .libreria img{
        margin-left: 10px;
    }

    .home {
        border-left: 0;
    }

    .start .home img{
        margin-left: 0;
    }

    #left-navbar .playlist-and-bottom {
        margin-left: 12px;
    }

    .album {
        width: calc(100% / 2 - 20px);
    }

    .album img {
        min-width: 140px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .sm-display-none {
        display: none;
    }

    .album {
        width: calc(100% / 2 - 20px);
    }

    .mainbox .flex {
        justify-content: flex-start;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .md-display-none {
        display: none;
    }

    .album {
        width: calc(100% / 4 - 20px);
    }

    .mainbox.recently-played .flex {
        justify-content: flex-start;
    }
}

@media screen and (min-width: 1201px) {
    .lg-display-none {
        display: none;
    }
}
